<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">PROJECT MANAGER</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/project" routerLinkActive="active">ADD PROJECT</a>
      <a class="nav-item nav-link" routerLink="/add-task" routerLinkActive="active">ADD TASK</a>
      <a class="nav-item nav-link" routerLink="/user" routerLinkActive="active">ADD USER</a>
      <a class="nav-item nav-link" routerLink="/view-task" routerLinkActive="active">VIEW TASK</a>
    </div>
  </div>
</nav>
<hr>