  <form>
      <div class="form-group row">
        <div class="col-2">
            <label for="firstName">First Name</label>
        </div>
        <div class="col-10">
            <input type="text" class="form-control" id="firstName" placeholder="First Name">
        </div>  
      </div>
  
      <div class="form-group row">
        <div class="col-2">
            <label for="lastName">Last Name</label>
        </div>
        <div class="col-10">
            <input type="text" class="form-control" id="lastName" placeholder="Last Name">
        </div>  
      </div>
  
      <div class="form-group row">
        <div class="col-2">
            <label for="employeeNo">Employee Id</label>
        </div>
        <div class="col-10">
            <input type="text" class="form-control" id="employeeNo" placeholder="Employee ID">
        </div>  
      </div>
  
      <div class="form-group row float-right">
          <button type="button" class="btn btn-primary float-left" style="margin-right:0.2rem;">Add</button>
          <button type="button" class="btn btn-primary float-left" >Reset</button>
      </div>
  </form>    


